@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 1;
  overflow-x: hidden;
}

button,
a {
  cursor: pointer;
}

input {
  outline: none;
}

body {
  /* плашка-бегунок и фон */
  scrollbar-color: #3278ba #6e99e6;
}
body::-webkit-scrollbar {
  width: 6px; /* в основном для вертикальных полос прокрутки */
  height: 6px; /* в основном для горизонтальных полос прокрутки */
}
body::-webkit-scrollbar-thumb {
  /* плашка-бегунок */
  background: #3278ba;
}
body::-webkit-scrollbar-track {
  /* фон */
  background: #6e99e6;
}

.container-app {
  max-width: 1060px;
  padding: 0 15px;
  margin: 0 auto;
}

.projects-slider .swiper-wrapper {
  padding-bottom: 35px;
}

.projects-slider .swiper-pagination {
  bottom: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.projects-slider .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  margin: 0 !important;
  background-color: #78a9d3;
}

.projects-slider .swiper-pagination-bullet-active {
  background-color: #6ea3e0;
}

@media (min-width: 768px) {
  .content-wrapper {
    height: calc(100vh - 115px);
  }
}
